<div id="newUni">
    <form id="newUniForm" role="form" ng-submit="vm.sendUni()" method="POST" action="/newUni">
        <input id="firstInputUniForm" type="text" name="uniName" ng-model="vm.unisData.uniName" placeholder="Name of your uni..." />
        <input type="text" name="country" ng-model="vm.unisData.country" placeholder="Country of your uni..." />
        <input type="text" name="address" ng-model="vm.unisData.address" placeholder="City of your uni..." />
        <div class="modal-footer">
            <button ng-click="vm.modalWindiws.close()" type="button" class="btn btn-danger pull-right">Close</button>
            <button type="submit" id="createUniSubmit">Submit</button>
        </div>
    </form>
</div>

<a id="deleteUnitext" href="home/uni">
    <p class="badge badge-pill badge-danger">Delete unexisting Uni.</p>
</a>
