<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <form ng-submit="vm.sendData()" autocomplete="off">
        <div role="alert" ng-show="vm.formError" class="alert alert-danger">{{ vm.formError }}</div>
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="email" class="form-control" id="email" placeholder="Your e-mail" ng-model="vm.logInData.email">
        </div>
        <div class="form-group">
          <label for="pass">Password</label>
          <input type="password" class="form-control" id="pass" placeholder="Password" ng-model="vm.logInData.pass">
        </div>
        <button type="submit" class="btn btn-default btn-sm" href="/">Log In!</button>
      </form>
      <p class="lead">Don't have an account?<a href="/register?stran={{ vm.indexPage }}">Sign In.</p>
    </div>
  </div>
