<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <form ng-submit="vm.sendData()">

        <div role="alert" ng-show="vm.formError" class="alert alert-danger">{{ vm.formError }}</div>

        <div class="form-group">
          <input type="text" class="form-control" id="fname" placeholder="Your First Name" ng-model="vm.registerData.fname">
          <input type="text" class="form-control" id="lname" placeholder="Your Last Name" ng-model="vm.registerData.lname">
        </div>

        <div class="form-group">
          <input type="email" class="form-control" id="email" placeholder="Your email" ng-model="vm.registerData.email">
        </div>

        <select value='{{uni.country}}' id="country" name="country" ng-model="vm.registerData.country">
          <option value='{{uni.country}}' id="country" ng-repeat='uni in vm.data'> {{uni.country}} </option>
        </select>

        <div class="form-group">
          <input type="password" autocomplete="off" class="form-control" id="pass" placeholder="Password" ng-model="vm.registerData.pass">
        </div>

        <button type="submit" class="btn btn-default">Register!</button>

      </form>
      <p class="lead">If you have and account, please <a href="/login">log in</a>! </p>
    </div>
  </div>
</div>
