@import url('https://fonts.googleapis.com/css?family=Numans');

html,
body {
  background-image: url('/images/pozadina.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: 'Numans', sans-serif;
  background-attachment: scroll;
}

.card {
  height: 720px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.login_dugme {
  color: black;
  background-color: #FFC312;
  width: 100px;
}


.login_dugme:hover {
  color: black;
  background-color: white;
}

.input-group-prepend span {
  width: 50px;
  background-color: #FFC312;
  color: black;
  border: 0 !important;
}

.mz {
  color: black;
  background-color: #FFC312;
}

#musko_zenski {
  border: 0 !important;
}
