.container-fluid {
  padding: 0 5px;
  /* 10px top & bot -- 0px left & right*/
  background-color: #091216;
  font-size: 17px;
}

.desktop_menu_ul {
  list-style-type: none;
  margin-top: 10px !important;
  padding: 0;
  /* Push text to the left edge */
}

.navbar {
  margin-bottom: 0;
  min-height: 0;
}

.fa-search {
  color: #F6F6E9;
  font-size: 17px;
}

.fa-search:hover {
  color: #4F5558;
}

.search_right_desktop_menu {
  float: right;
}

.search_right_desktop_menu a:hover {
  color: #4F5558 !important;
}

.desktop_menu_list {
  float: left;
  padding: 0 10px;
  border: 0;
}

.desktop_menu_list a {
  list-style-type: none;
  transition: 0.3s;
  color: #F6F6E9;
  margin-right: 2%;
}

a:focus {
  /* After clicking on item style */
  text-decoration: none;
  color: #1C323F;

}

.desktop_menu_list a:hover {
  text-decoration: none;
  color: #4F5558;
}

.active {
  border-right: 2px solid #FFD400;
  border-left: 2px solid #FFD400;
  border-radius: 18px;
}

body {
  background-color: white;
  color: #091216;
}



/* mininavbar styles */

.card {
  padding: 0 5px;
}

.mini_ul li.active {
  width: max-content;
  padding: 0 5px;
}

.mini_ul {
  list-style-type: none;
  padding: 0;
  /* push elements in ul to the edge */
}

.btn {
  padding: 0 !important;
  line-height: 0 !important;
  font-size: 17px;
}

.mini_ul a {
  text-decoration: none;
  color: #F6F6E9;
}

.mini_ul a:hover {
  color: #727779 !important;
}

.mini_ul a:focus {
  color: #1C323F;
}

.btn-link {
  color: #F6F6E9 !important;
}

.btn-link:hover {
  color: #4F5558 !important;
}

.btn-link:focus {
  outline: none;
  /* remove blue lines around btn when clicked*/
  color: #1C323F !important;
}


/* ------------------ @MEDIA --------------- */

@media only screen and (min-width: 801px) {
  .accordion,
  .profilecardmini {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .desktop_menu_div,
  .profilecard {
    display: none;
  }
}





/* TODO ---------- Background image
        ---------- Pick colors
        ---------- Write this texts
        ----------  */

/* ------------------------------ Nav Bar ------------------------------ */

.textbox {
  border: 1.7px solid #1C323F;
  border-radius: 10px;
  margin: 50px 40px 50px 40px;
  /* top right bottom left */
}

.minititleleft {
  padding-left: 25px;
  padding-top: 20px;
  font-size: 17px;
  float: left;
  width: 50%;
}

.minititleright {
  padding-left: 25px;
  padding-top: 20px;
  font-size: 17px;
  float: right;
  width: 50%;
}

.boxtext {
  border-top: 1px solid #FFD400;
  border-bottom: 1px solid #FFD400;
  margin-top: 45px;
  margin-left: 60px;
  margin-right: 60px;
}
