doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    // Prevedena in minimizirani slogi CSS verzije 3.3.7
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    // Opcijske teme verzije 3.3.7
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous")
    // Icons
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
    link(rel="stylesheet" type="text/css" href="/stylesheets/aboutusvisitors.css")
    title About Us
  body
    // -------------------------------- NavBar --------------------------------
    .container-fluid
      .navbar.desktop_menu_div
        ul.desktop_menu_ul
          li.desktop_menu_list
            a(href="/homevisitors")  HOME
          li.desktop_menu_list
            a(href="/aboutus")  ABOUT US
          li.desktop_menu_list
            a(href="/login")  SIGN IN
          li.desktop_menu_list
            a(href="/register")  REGISTER
        .search_right_desktop_menu
          a(href="#")
            i.fa.fa-search
      // -------------------------------- MiniNavBar --------------------------------
      #accordionExample.accordion
        .card
          #headingOne.card-header
            h5.mb-1324
              button.btn.btn-link(type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne")
                i.fa.fa-bars
              a.search_right_desktop_menu(href="#")
                i.fa.fa-search
          #collapseOne.collapse(aria-labelledby="headingOne" data-parent="#accordionExample")
            .card-body
              .navbar
                ul.mini_ul
                  li
                    a(href="/homevisitors")
                      | HOME
                      i.fa.fa-home
                  li.active
                    a(href="/aboutusvisitors")
                      | ABOUT US
                      i.fa.fa-heart
                  li
                    a(href="/login")
                      | SIGN IN
                      i.fa.fa-sign-in-alt
                  li
                    a(href="/register")
                      | REGISTER
                      i.fa.fa-registered
    // -------------------------------- NavBar --------------------------------
    .textbox
      p.minititle  Our Mission
      p.boxtext
        | MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta
    .textbox
      p.minititle  Our Vision
      p.boxtext
        | MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta
    .textbox
      p.minititle  Who we are
      p.boxtext
        | MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta MasuTEksta
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
//
  COLORS NavBar
  #091216 - Black-ish -- Background color
  #4F5558 - Less black-ishhh -- Hover color
  #FFD400 - Yellow -- Active color
  #F6F6E9 - White -- Text color
  #1C323F - Blue-ish -- Focus
