extends layout

block content
    .textbox
      p.minititle= ourMission
      p.boxtext= text1
    .textbox
      p.minititle= ourVision
      p.boxtext= text2
    .textbox
      p.minititle= whoWeAre
      p.boxtext= text3
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")

