extends layout

block content
  .profilecard
    .imgedit
      img.img-circle(src="/images/stefan.jpg" alt="User's picture")
      button.edit
        i.fas.fa-edit
      button.delete
        i.fa.fa-trash
    form#forma(method="#" action="#" onsubmit="return validation2();")
      p
        label#firstname= fname
        input#ime(type="text" maxlength="15" name="firstname"  size="25" placeholder="Stefan" )
        span#first1


      p
        label= lname
        input#prezime(type="text" name="lastname" maxlength="20" size="25" placeholder="Ivanisevic")
      p
        span name@domain
        input#mail(type="email" name="email" size="25" placeholder="si0539@student.uni-lj.si")
        label= email
      p
        label= tel
        input#tel(type="tel" name="phone" size="25" placeholder="+386 51 787 871" pattern="\+[0-9]{3} [0-9]{2} [0-9]{3} [0-9]{3}")
        span +*** ** *** ***
      p
        label= pass
        input#pass.pass(type="password" name="password" size="25" placeholder="Passwords need to match!")

      p
        label= rpass
        input#repass.pass(type="password" name="repassword" size="25" placeholder="Passwords need to match!")

      p
        label= bday
        input(style="color: #FFD400" type="date" name="date" size="25" value="2018-05-23")
      button.restartdugme(type="reset")
        i.fa.fa-trash
      button#submit.editbutton(type="submit" onclick="click_submit()") Save changes
  .profilecardmini
    .imgedit
      img.img-circle(src="/images/stefan.jpg" alt="User's picture")
      button.edit
        i.fas.fa-edit
      button.delete
        i.fa.fa-trash
    form#formamini(method="#" action="#")
      p#para_name
        label#firstname= fname
        input#name(type="text" maxlength="15" onkeyup="checkString()" size="25" name="firstname" placeholder="Stefan" autofocus="")
      p
        label= lname
        input(type="text" name="lastname" maxlength="20" size="25" placeholder="Ivanisevic")
      p
        label= email
        input#mailmini(type="email" name="email" size="25" placeholder="si0539@student.uni-lj.si")
        span name@domain
      p
        label= pass
        input.pass(type="password" name="password" size="25" placeholder="Passwords need to match!")
        span
      p
        label= rpass
        input.pass(type="password" name="repassword" size="25" placeholder="Passwords need to match!")
        span
      p
        label= bday
        input(style="color: #FFD400" type="date" name="date" size="25" value="2018-05-23")
      button.restartdugme(type="reset")
        i.fa.fa-trash
      button#submit.editbutton(type="submit" onclick="click_submit()") Save changes