extends layout

block content
    #comments
    if !feedbacks
      .container2
        form#feedbackForm(method="POST" action="/feedback")
          label(for="fname") First name
          input#fname(type="text" name="firstname" placeholder="Your name...")
          label(for="lname") Last name
          input#lname(type="text" name="lastname" placeholder="Your last name...")
          label(for="country") Country
          select#country(name="country")
            each uni in unis
              option(value=uni.id) #{uni.country}
          label(for="uni") Target University
          select#university(name="tuniversity")
            each uni in unis
              option(value=uni.id) #{uni.uniName}
          a#createUniLink(href="#newUni")
            p.badge.badge-pill.badge-info There is no your Uni? Create your Uni here!
          label(for="comment") Source University
          select#university(name="suniversity")
            each uni in unis
              option(value=uni.id) #{uni.uniName}
          textarea#comment(name="body" placeholder="Write your experiences about your school" style="height:200px")
          button#createFeedbackSubmit(type="submit") Submit
          div#allFeedbacksPreview View all
            a(href="/feedback")  feedbacks
      div(id="newUni")
        form#newUniForm(method="POST" action="/newUni")
          input#firstInputUniForm(type="text" name="uniName" placeholder="Name of your uni...")
          input(type="text" name="country" placeholder="Country of your uni...")
          input(type="text" name="address" placeholder="City of your uni...")
          div
            button#createUniSubmit(type="submit") Submit
      a#deleteUnitext(href="home/uni")
            p.badge.badge-pill.badge-danger Delete unexisting Uni.
    if feedbacks
      each feedback in feedbacks
        form(method="POST" action="/feedback/delete")
          .textbox(name="ourMission")
            div
              input.hidden(type="text" value=feedback._id name="_id")
              button#deleteButton(type="submit") Delete
              h4.uni(name="name")= feedback.user.fname + " " + feedback.user.lname
              h4.uni(name="country")= feedback.user.country
            p.boxtext(name="body")= feedback.body
              h4.uni(name="uniName")= feedback.uniTarget
              h4.uni(name="uniName")= feedback.uniSource
    script(async="" defer="" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDooAMNG2ibihrYFEDEInjuS9yqLu0ruYk&callback=initMap")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    // -jQuery,JavaScript i Popper.js plugins,uvijek kod /body taga
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")
