doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title LOG IN PAGE
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
    link(rel="stylesheet" type="text/css" href="/stylesheets/style_login.css")
    link#bootstrap-css(href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="/javascripts/validate_login.js" type="text/javascript")
  body
    .d-flex.justify-content-center.h-100
      .card
        .card-header
          h3 Sign In
        .card-body
          form(onsubmit="return validation();" action="")
            .input-group.form-group
              .input-group-prepend
                span.input-group-text
                  i.fas.fa-user
              input#user.form-control(type="text"  name="mail" placeholder="E-mail")
            span#mail_1.text-danger
            .input-group.form-group
              .input-group-prepend
                span.input-group-text
                  i.fas.fa-key
              input#password.form-control(type="password" name="password" placeholder="Password")
            span#passw.text-danger
            .form-group
              input.btn.float-right.login_btn(type="submit" value="submit")
        .card-footer
          .d-flex.justify-content-center.links
            | Don't have an account?
            a(href="register") Sign Up
