extends layout

block content
  each uni in unis
    form(method="POST" action="/home/uni")
      #deleteUni
        p University Name: #{uni.uniName}
        p University County: #{uni.country}
        p University City: #{uni.address}
        input.hidden(type="text" value=uni._id name="_id")
        button.btn-danger(type="submit") Delete uni