<navigation></navigation>
<form method="POST" action="/myprofile/allusers" ng-repeat='user in vm.data' ng-submit='vm.userDel(user._id)'>
  <div class="profilecard">
    <input type="hidden" type="text" value="{{ user._id }}" name="_id" />
    <h2 name="fname"> {{user.fname}} <br/></h2>
    <h2 name="lname"> {{user.lname}} </h2>
    <div class="title">
      <h3>
        <i class="fa fa-envelope"></i>
        <a name="email"> {{user.email}}
            </a>
      </h3>
    </div>
    <div>
      <div class="from">
        <h3>
          <font color="#FFD400">FROM</font><br/><small><strong></strong><i class="fa fa-flag-checkered"></i><br/>
              <h4 name="country"> {{user.country}}
              </h4><br/>
              <h4></h4></small></h3>
      </div>
      <input type="text" name="_id" value=user._id class="hidden" />
      <button class="editbutton">Delete user</button> </div>
  </div>
</form>
<form method="POST" action="/myprofile/delete">
  <div class="profilecardmini">
    <h2 name="fname"> {{ user.fname }}
      <br/></h2>
    <h2 name="lname"> {{user.lname }}</h2>
    <div class="titlemini">
      <h3><a name="email"> {{ user.email }}
         </a></h3>
      <div class="frommini">
        <h3>
          <font color="#FFD400">FROM</font><br/>
          <small>
              <strong> From</strong>
              <i class="fa fa-flag-checkered"></i><br/>
              <h4 name="country"> {{ user.country }}
              </h4><br/>
              <h4> FromCity</h4></small></h3>
      </div>
      <input type="text" name="_id" value=" {{ user._id }}" class="hidden" />
      <button class="editbutton">Delete user</button>
    </div>
  </div>
</form>
</p>
