<navigation></navigation>

<div class="profilecard" ng-show="navvm.isLogedIn">
  <h2 name="name"><br/> {{navvm.currentUser.fname}} </h2>
  <h2 name="lname"> {{navvm.currentUser.lname}} </h2>
  <div class="title">
    <h3><i class="fa fa-envelope"></i><a name="email"> {{navvm.currentUser.email}} </a></h3>
  </div>
  <div>
    <div class="from">
      <h3>
        <font color="#FFD400">FROM</font><br/><small><strong></strong><i class="fa fa-flag-checkered"></i><br/>
          <h4 name="country">{{navvm.currentUser.country}} </h4><br/>
          <h4></h4></small></h3>
    </div>
  </div>
</div>

<div class="profilecardmini" ng-show="navvm.isLogedIn">
  <h2 name="name"><br/> {{navvm.currentUser.fname}} </h2>
  <h2 name="lname"> {{navvm.currentUser.lname}} </h2>
  <div class="titlemini">
    <h3><a name="email"> {{navvm.currentUser.email}} </a></h3>
  </div>
  <div>
    <div class="frommini">
      <h3>
        <font color="#FFD400">FROM</font><br/><small><strong></strong><i class="fa fa-flag-checkered"></i><br/>
          <h4 name="country">{{navvm.currentUser.country}} </h4><br/>
          <h4></h4></small></h3>
    </div>
  </div>
  <p><a href="/myprofile/edit">
      <button class="editbutton">Edit profile</button></a></p>
</div>
<p id="allUsersPreview">View all<a href="/myprofile/allusers"> users</a>
