#deleteUni {
  background-color: #1C323F;
  margin-left: 20px;
  border: 3px solid black;
  border-radius: 10px;
  font-size: 15px;
  margin-top: 50px;
  height: 250px;
  width: 600px;
}

#deleteUni p {
  background-color: white !important;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  padding: 10px;
}






.container-fluid {
  padding: 0 5px;
  /* 10px top & bot -- 0px left & right*/
  background-color: #091216;
  font-size: 17px;
}

.desktop_menu_ul {
  list-style-type: none;
  margin-top: 10px !important;
  padding: 0;
  /* Push text to the left edge */
}

.navbar {
  margin-bottom: 0;
  min-height: 0;
}

.fa-search {
  color: #F6F6E9;
  font-size: 17px;
}

.fa-search:hover {
  color: #4F5558;
}

.search_right_desktop_menu {
  float: right;
}

.search_right_desktop_menu a:hover {
  color: #4F5558 !important;
}

.desktop_menu_list {
  float: left;
  padding: 0 10px;
  border: 0;
}

.desktop_menu_list a {
  list-style-type: none;
  transition: 0.3s;
  color: #F6F6E9;
  margin-right: 2%;
}

a:focus {
  /* After clicking on item style */
  text-decoration: none;
  color: #1C323F;

}

.desktop_menu_list a:hover {
  text-decoration: none;
  color: #4F5558;
}

.active {
  border-right: 2px solid #FFD400;
  border-left: 2px solid #FFD400;
  border-radius: 18px;
}

body {
  background-color: white;
  color: #091216;
}



/* mininavbar styles */

.card {
  padding: 0 5px;

}

.mini_ul li.active {
  width: max-content;
  padding: 0 5px;
}

.mini_ul {
  list-style-type: none;
  padding: 0;
  /* push elements in ul to the edge */
}

.btn {
  padding: 0 !important;
  line-height: 0 !important;
  font-size: 17px;
}

.mini_ul a {
  text-decoration: none;
  color: #F6F6E9;

}

.mini_ul a:hover {
  color: #727779 !important;
}

.mini_ul a:focus {
  color: #1C323F;
}

.btn-link {
  color: #F6F6E9 !important;
}

.btn-link:hover {
  color: #4F5558 !important;
}

.btn-link:focus {
  outline: none;
  /* remove blue lines around btn when clicked*/
  color: #1C323F !important;
}


/* ------------------ @MEDIA --------------- */

@media only screen and (min-width: 801px) {
  .accordion,
  .boxmini {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .desktop_menu_div,
  .box {
    display: none;
  }
}

/* ------------------------------ Nav Bar ------------------------------ */

/*-------------------------- MAP ------------------------------*/

#map {
  height: 500px;
  width: 100%;
  border: 5px solid #FFD400;
}

/* Style inputs with type="text", select elements and textareas */

input[type=text],
select,
textarea {
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical/* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */

input[type=submit] {
  background-color: #1C323F;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */

input[type=submit]:hover {
  background-color: #4F5558;
}

/* Add a background color and some padding around the form */

.container2 {
  border-radius: 5px;
  background-color: #FFD400;
  padding: 20px;
}




/*-------------------------MAP---------------------------------------------*/

/*-------------------------------INFO WINDOW ----------------------------*/

.info_wind {
  font-size: 15px !important;
}


.textbox {
  border-right: 1.7px solid #1C323F;
  border-left: 1.7px solid #1C323F;
  border-radius: 10px;
  margin: 50px 40px 50px 40px;
  /* top right bottom left */
}

.minititleleft {
  padding-left: 25px;
  padding-top: 20px;
  font-size: 17px;
  float: left;
  width: 50%;
}

.minititleright {
  padding-left: 25px;
  padding-top: 20px;
  font-size: 17px;
  float: right;
  width: 50%;
}

.boxtext {
  border-top: 1px solid #FFD400;
  border-bottom: 1px solid #FFD400;
  margin-top: 45px;
  margin-left: 60px;
  margin-right: 60px;
}
