<navigation></navigation>

<h2 ng-show="navvm.isLogedIn"> You are loged in</h2>

<div ng-hide="navvm.isLogedIn">
  <a href="/login">Log In </a> to see your profile or
  <a href="/register"> register here!</a>
</div>

<div>
  <h3>Remove everything from the DB</h3>
  <span>
  <button class="btn btn-danger" ng-click="vm.deleteDB()">Remove :(</button>
  </span>
</div>

<div>
  <h3>Fill DB with test data</h3>
  <span>
  <button class="btn btn-danger" ng-click="vm.fillMe()">DO IT!!!</button>
  </span>
</div>
