<navigation></navigation>

<form method="POST" ng-submit="vm.deleteUni(uni._id)" action="" ng-repeat='uni in vm.data'>
  <div id="deleteUni">
    <p>{{uni.uniName}} </p>
    <p>{{uni.country}} </p>
    <p>{{uni.city}} </p>
    <input type="text" class="hide" name="_id" value="{{ uni._id }}">
    <button type="submit" class="btn-danger">Delete uni</button>
  </div>
</form>
