<div class="container-fluid" ng-show="navvm.isLogedIn">
  <div class="navbar desktop_menu_div">
    <ul class="desktop_menu_ul">
      <li class="desktop_menu_list"><a href="/home"> HOME</a></li>
      <li class="desktop_menu_list"><a href="/myprofile">PROFILE</a></li>
      <li class="desktop_menu_list"><a href="/feedback"> FEEDBACK</a></li>
      <li class="desktop_menu_list"><a href="/aboutus"> ABOUT US</a></li>
      <li class="desktop_menu_list"><a href="/homevisitors" ng-click="navvm.logout()"> LOG OUT</a></li>
    </ul>
    <div class="search_right_desktop_menu"><a href="#"><i class="fa fa-search"></i></a></div>
  </div>
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-1324"><button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="fa fa-bars"></i></button><a class="search_right_desktop_menu" href="#"><i class="fa fa-search"></i></a></h5>
      </div>
      <div class="collapse" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <div class="navbar">
            <ul class="mini_ul">
              <li><a href="/home">HOME<i class="fa fa-home"></i></a></li>
              <li><a href="/myprofile">MY PROFILE<i class="fa fa-user"></i></a></li>
              <li><a href="/feedback">FEEDBACK<i class="fa fa-user"></i></a></li>
              <li><a href="/aboutus">ABOUT US<i class="fa fa-heart"></i></a></li>
              <li><a href="/homevisitors">LOG OUT<i class="fa fa-user"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid" ng-hide="navvm.isLogedIn">
  <div class="navbar desktop_menu_div">
    <ul class="desktop_menu_ul">
      <li class="desktop_menu_list">
        <a href="/login">Log In to see your profile</a>
      </li>
    </ul>
    <div class="search_right_desktop_menu"><a href="#"><i class="fa fa-search"></i></a></div>
  </div>
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-1324"><button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="fa fa-bars"></i></button><a class="search_right_desktop_menu" href="#"><i class="fa fa-search"></i></a></h5>
      </div>
      <div class="collapse" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <div class="navbar">
            <ul class="mini_ul">
              <li>
                <a href="/login">Log In to see your profile</a>
              </li>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
