.container-fluid {
    padding: 0 5px;
    /* 10px top & bot -- 0px left & right*/
    background-color: #091216;
    font-size: 17px;
}

.desktop_menu_ul {
    list-style-type: none;
    margin-top: 10px !important;
    padding: 0;
    /* Push text to the left edge */
}

.navbar {
    margin-bottom: 0;
    min-height: 0;
}

.fa-search {
    color: #F6F6E9;
    font-size: 17px;
}

.fa-search:hover {
    color: #4F5558;
}

.search_right_desktop_menu {
    float: right;
}

.search_right_desktop_menu a:hover {
    color: #4F5558 !important;
}

.desktop_menu_list {
    float: left;
    padding: 0 10px;
    border: 0;
}

.desktop_menu_list a {
    list-style-type: none;
    transition: 0.3s;
    color: #F6F6E9;
    margin-right: 2%;
}

.desktop_menu_div a:focus {
    /* After clicking on item style */
    text-decoration: none;
    color: #1C323F;
}

.desktop_menu_list a:hover {
    text-decoration: none;
    color: #4F5558;
}

.active {
    border-right: 2px solid #FFD400;
    border-left: 2px solid #FFD400;
    border-radius: 18px;
}

body {
    background-color: white;
    color: #091216;
}



/* mininavbar styles */

.smallnav {
    padding: 0 5px;
}

.mini_ul li.active {
    width: max-content;
    padding: 0 5px;
}

.mini_ul {
    list-style-type: none;
    padding: 0;
    /* push elements in ul to the edge */
}

.btn {
    padding: 0 !important;
    line-height: 0 !important;
    font-size: 17px;
}

.mini_ul a {
    text-decoration: none;
    color: #F6F6E9;
}

.mini_ul a:hover {
    color: #727779 !important;
}

.mini_ul a:focus {
    color: #1C323F;
}

.btn-link {
    color: #F6F6E9 !important;
}

.btn-link:hover {
    color: #4F5558 !important;
}

.btn-link:focus {
    outline: none;
    /* remove blue lines around btn when clicked*/
    color: #1C323F !important;
}



/* ------------------------------ Nav Bar ------------------------------ */

/* ------------------------------ Profile ------------------------------ */

.profilecard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 700px;
    margin: auto;
    color: black;
    background-color: #4F5558;
}


.profilecard .img-circle {
    height: 650px;
    width: 700px;
}

#forma {
    background-color: #091216 !important;
    color: #F6F6E9;
}

#forma p {
    padding: 15px 30px;
}

#forma input {
    border: solid 1px #F6F6E9;
    background-color: #091216 !important;
}

#submit {
    border: solid 1px #F6F6E9;
    background-color: #091216 !important;
}

#forma input:focus {
    outline-color: #FFD400;
}

#forma label {
    width: 240px;
    float: right;
    border-bottom: solid 1px #F6F6E9;
}


.editbutton {
    display: inline-block;
    text-align: center;
    color: #FFD400 !important;
    background-color: #091216 !important;
    width: 100% !important;
    border: none;
    outline: 0;
    padding: 10px;
    font-size: 15px;
}

.restartdugme {
    border: solid 1px #F6F6E9;
    margin-left: 305px;
    width: 90px;
    color: #FFD400 !important;
    background-color: #091216 !important;
    font-size: 15px;
}

.profilecard .editbutton:hover {
    opacity: 0.7;

}

.imgedit {
    background-color: #091216;
}

.imgedit .edit {
    width: 50%;
    float: left;
    border: solid 1px #F6F6E9;
    color: #FFD400 !important;
    background-color: #091216 !important;
    font-size: 15px;
}

.imgedit .delete {
    width: 50%;
    border: solid 1px #F6F6E9;
    color: #FFD400 !important;
    background-color: #091216 !important;
    font-size: 15px;
}



/* -------------------- Placeholder Color -------------- */

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #FFD400;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #FFD400;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #FFD400;
}

/* -------------------- Placeholder Color -------------- */

/* ------------------- */

#tel:invalid+span:after {
    content: '✖';
    color: #f00;
    padding-left: 5px;
}

#tel:valid+span:after {
    content: '✓';
    color: #26b72b;
    padding-left: 5px;
}

#mail:invalid+span:after {
    content: '✖';
    color: #f00;
    padding-left: 5px;
}

#mail:valid+span:after {
    content: '✓';
    color: #26b72b;
    padding-left: 5px;
}

.pass:invalid+span:after {
    content: '✖';
    color: #f00;
    padding-left: 5px;
}

.pass:valid+span:after {
    content: '✓';
    color: #26b72b;
    padding-left: 5px;
}

/* ------------------- */

.error {
    color: red;
}

/* ------------------------------ Profile Mini CSS ------------------------------ */

.profilecardmini {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    color: black;
    background-color: #4F5558;
}

#formamini {
    background-color: #091216 !important;
    color: #F6F6E9;
}

#formamini #firstname {
    border-top: none !important;
}

#formamini p {
    padding: 5px 30px;
}

#formamini input {
    width: 100%;
    border: solid 1px #F6F6E9;
    background-color: #091216 !important;
}

#formamini input:focus {
    outline-color: #FFD400;
}

#formamini label {
    width: 100%;
    float: right;
    padding-top: 15px;
    border-top: solid 1px #F6F6E9;
}

#formamini .restartdugme {
    border: solid 1px #F6F6E9;
    margin-left: 130px;
    width: 40px;
    color: #FFD400 !important;
    background-color: #091216 !important;
    font-size: 15px;
}

.profilecardmini .img-circle {
    height: 300px;
    width: 300px;
}

/* ------------------- */

#telmini:invalid+span:after {
    content: '✖';
    color: #f00;
    padding-left: 5px;
}

#telmini:valid+span:after {
    content: '✓';
    color: #26b72b;
    padding-left: 5px;
}

#mailmini:invalid+span:after {
    content: '✖';
    color: #f00;
    padding-left: 5px;
}

#mailmini:valid+span:after {
    content: '✓';
    color: #26b72b;
    padding-left: 5px;
}

.pass:invalid+span:after {
    content: '✖';
    color: #f00;
    padding-left: 5px;
}

.pass:valid+span:after {
    content: '✓';
    color: #26b72b;
    padding-left: 5px;
}

/* ------------------- */

/* ------------------------------ Profile ------------------------------ */

/* ------------------ @MEDIA --------------- */

@media only screen and (min-width: 801px) {
    .accordion,
    .profilecardmini {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    .desktop_menu_div,
    .profilecard {
        display: none;
    }
}
