.textbox {
  border: 1.7px solid #1C323F;
  border-radius: 10px;
  margin: 50px 40px 50px 40px;
  /* top right bottom left */
}

.minititleleft {
  padding-left: 25px;
  padding-top: 20px;
  font-size: 17px;
  float: left;
  width: 50%;
}

.uni {
  padding-left: 25px;
  padding-top: 10px;
  margin-bottom: 20px;
}

.minititleright {
  padding-left: 25px;
  padding-top: 20px;
  font-size: 17px;
  float: right;
  width: 50%;
}

.boxtext {
  border-top: 1px solid #FFD400;
  border-bottom: 1px solid #FFD400;
  margin-top: 30px;
  margin-left: 60px;
  margin-right: 60px;
}
