.container-fluid {
    padding: 0 5px;
    /* 10px top & bot -- 0px left & right*/
    background-color: #091216;
    font-size: 17px;
}

.desktop_menu_ul {
    list-style-type: none;
    margin-top: 10px !important;
    padding: 0;
    /* Push text to the left edge */
}

.navbar {
    margin-bottom: 0;
    min-height: 0;
}

.fa-search {
    color: #F6F6E9;
    font-size: 17px;
}

.fa-search:hover {
    color: #4F5558;
}

.search_right_desktop_menu {
    float: right;
}

.search_right_desktop_menu a:hover {
    color: #4F5558 !important;
}

.desktop_menu_list {
    float: left;
    padding: 0 10px;
    border: 0;
}

.desktop_menu_list a {
    list-style-type: none;
    transition: 0.3s;
    color: #F6F6E9;
    margin-right: 2%;
}

.desktop_menu_div a:focus {
    /* After clicking on item style */
    text-decoration: none;
    color: #1C323F;
}

.desktop_menu_list a:hover {
    text-decoration: none;
    color: #4F5558;
}

.active {
    border-right: 2px solid #FFD400;
    border-left: 2px solid #FFD400;
    border-radius: 18px;
}

body {
    background-color: white;
    color: #091216;
}



/* mininavbar styles */

.smallnav {
    padding: 0 5px;
}

.mini_ul li.active {
    width: max-content;
    padding: 0 5px;
}

.mini_ul {
    list-style-type: none;
    padding: 0;
    /* push elements in ul to the edge */
}

.btn {
    padding: 0 !important;
    line-height: 0 !important;
    font-size: 17px;
}

.mini_ul a {
    text-decoration: none;
    color: #F6F6E9;
}

.mini_ul a:hover {
    color: #727779 !important;
}

.mini_ul a:focus {
    color: #1C323F;
}

.btn-link {
    color: #F6F6E9 !important;
}

.btn-link:hover {
    color: #4F5558 !important;
}

.btn-link:focus {
    outline: none;
    /* remove blue lines around btn when clicked*/
    color: #1C323F !important;
}

/* ------------------------------ Nav Bar ------------------------------ */

/* ------------------------------ Profilecard ------------------------------ */

.profilecard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    max-width: 700px;
    margin: auto;
    text-align: center;
    color: #F6F6E9;
    background-color: #091216;
}

.profilecard .img-circle {
    height: 650px;
    width: 700px;
}

h2 {
    padding-top: 15px;
    border-top: solid 1px #F6F6E9;
}

.profilecard a {
    text-decoration: none;
    color: #F6F6E9;
}

small {
    color: #F6F6E9 !important;
}

.editbutton {
    display: inline-block;
    text-align: center;
    color: #FFD400 !important;
    background-color: transparent !important;
    width: 50% !important;
    border: solid 1px #F6F6E9 !important;
}

.editbutton:hover,
a:hover {
    color: #1C323F;
}

.profilecard button {
    border: none;
    outline: 0;
    padding: 10px;
    color: #FFD400;
    background-color: #091216;
    font-size: 15px;
}

.profilecard button:hover {
    opacity: 0.7;

}


/* ------------------------------ Profilecard Mini CSS ------------------------------ */

.profilecardmini {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    color: #F6F6E9;
    background-color: #091216;
    font-size: 10px !important;
}

.profilecardmini .img-circle {
    height: 300px;
    width: 300px;
}

.profilecardmini button {
    border: none;
    outline: 0;
    padding: 10px;
    color: #FFD400;
    background-color: #091216;
    font-size: 15px;
}

.profilecardmini a {
    color: #F6F6E9;
}

.profilecardmini a:hover {
    text-decoration: none;
    color: #F6F6E9;
}

#allUsersPreview {
    margin-top: 20px;
    margin-right: 20px;
    font-size: 20px;
    text-decoration: none;
    color: #091216;
    position: relative;
    float: right;
}

#allUsersPreview a:hover {
    text-decoration: none;
    color: #091216;
}

#allUsersPreview a {
    text-decoration: none;
}


/* ------------------------------ Profilecard ------------------------------ */

/* ------------------ @MEDIA --------------- */

@media only screen and (min-width: 801px) {
    .accordion,
    .profilecardmini {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    .desktop_menu_div,
    .profilecard {
        display: none;
    }
}
