<navigation></navigation>
<div id="comments">
  <div class="container2">
    <form id="feedbackForm" ng-submit="vm.sendData()" method="POST" action="/feedback">

      <label for="fname">First name</label>
      <!--<p ng-show="navvm.isLogedIn" id="fname" type="text" name="fname"> {{navvm.currentUser.fname}}</p>-->
      <input id="fname" type="text" name="fname" ng-model="vm.feedData.user.fname" placeholder="Your name..." />

      <label for="lname">Last name</label>
      <!--<p ng-show="navvm.isLogedIn" id="lname" type="text" name="lname">{{navvm.currentUser.lname}}</p>-->
      <input id="lname" type="text" name="lname" ng-model="vm.feedData.user.lname" placeholder="Your last name..." />

      <label for="country">Country</label>
      <select id="country" name="country" ng-model="vm.feedData.user.country">
          <option value='{{uni.country}}' ng-repeat='uni in vm.data'> {{uni.country}} </option>
      </select>

      <label for="uni">Target University</label>
      <select id="university" name="tuniversity" ng-model="vm.feedData.tuniversity">
        <option value='{{uni.uniName}}'  ng-repeat='uni in vm.data'> {{uni.uniName}} </option>
      </select>

      <a id="createUniLink" ng-click="vm.modalOpen()">
        <p class="badge badge-pill badge-info">There is no your Uni? Create your Uni here!</p>
      </a>

      <label for="comment">Source University</label>
      <select id="university" name="suniversity" ng-model="vm.feedData.suniversity">
        <option value="{{uni.uniName}}" ng-repeat='uni in vm.data'> {{uni.uniName}} </option>
      </select>

      <textarea id="comment" name="body" ng-model="vm.feedData.body" placeholder="Write your experiences about your school" style="height:200px;"></textarea>

      <button ng-show="vm.isLogedIn" id="createFeedbackSubmit" type="submit">Submit</button>
      <a ng-hide="vm.isLogedIn" id="createFeedbackSubmit" href="/login" type="submit">Log In to submit</a>

      <div id="allFeedbacksPreview">View all<a href="/feedback"> feedbacks</a></div>
    </form>
  </div>
</div>
