<navigation></navigation>
<label for="filter">Search feedbacks</label>
<input id="filter" type="text" name="filter" ng-model="search">
<form method="POST" action="/feedback" ng-submit="vm.feedbackDel(feedback._id)" ng-show="vm.isLogedIn" ng-repeat='feedback in vm.data | filter:search:strict '>
  <div class="textbox" name="ourMission">
    <div>
      <input type="hidden" type="text" value="{{ feedback._id }}" name="_id" />
      <button id="deleteButton" type="submit">Delete</button>
      <h4 class="uni" name="name"> {{ feedback.user.fname }} {{ feedback.user.lname }} </h4>
      <h4 class="uni" name="country"> {{ feedback.user.country }} </h4>
    </div>
    <p class="boxtext" name="body"> {{ feedback.body }}
      <h4 class="uni" name="uniName"> {{ feedback.uniSource }} </h4>
      <h4 class="uni" name="uniName"> {{ feedback.uniTarget }} </h4>
    </p>
  </div>
</form>
